#root {
  max-width: 100%;
  min-height: 150vh;
  height: 150vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient( 120deg, rgba(243, 238, 229, 0.98), rgba(246, 241, 232, 0.85) );

}

.navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.menu-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

h1 {
  margin-top: 2rem;
  color: #000000;
  font-size: clamp(3.6rem, 5vw, 4.8rem);
  font-family: "Fraunces", serif;
  line-height: 1;
  text-align: center;
}
h7 {
  text-align: center;
  font-weight: 400;
}
h7 .headline-part {
  margin-top: 5rem;
  color: #000000;
  font-size: clamp(2.6rem, 4vw, 3.6rem);
  font-family: "Fraunces", serif;
  line-height: 2rem;
}

.title-section {
  position: relative;
  width: 100%;
  height: 10%;
  background-image: url("./assets/title.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-bar a,
.menu-bar .menu-link {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 200ms;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.menu-bar a:hover,
.menu-bar .menu-link:hover {
  color: #646cff;
}

.intro-text {
  margin-left: 1rem;
  max-width: 800px;
  font-size: 1rem;
  line-height: 1;
  color: #333;
  text-align: start;
}

.content-section .text-section {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content-section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.content-section .intro-text {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #333;
}
.image-section {
  flex: 1 1 50%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.content-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem;
  gap: 4rem;
}
